:root {
  --width: 0px;
  --height: 0px;
}

.all {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.view {
  width: var(--width);
  height: var(--height);
  outline: 1px solid red;
  background : blue;
}