:root {
  --size: min(1500px, calc(((100vw + 100vh) / 2)));
  --width: 0px;
  --height: 0px;
  --board-size: calc(var(--width) * 0.5);
  --amount-card-width: 8;
  --amount-card-height: 8;
  --card-size: calc(var(--board-size) / var(--amount-card-width));
  --hero-width: calc(var(--size) * 0.2);
  --selected-hero-cont-width: calc(var(--width) * 0.25);
}

body {
  font-family: verdana;
}

.selected-hero-cont {
  padding: calc(var(--size) * 0.01);
  text-align: center;
  display : flex;
  justify-content: center;
  width : var(--selected-hero-cont-width);
}

.selected-hero-cont-cont {
  width: var(--hero-width);
}

.board-flex {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.board {
  width: var(--board-size);
}

.board-line {
  display: flex;
  /* height: 50px; */
  height: var(--card-size);
  justify-content: space-around;
}

.card-flex-col {
  /* width: 50px; */
  width: var(--card-size);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-flex-row {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
}

.card-paper {
  width: 85%;
  border-radius: 5%;
  outline: 1px solid black;
  position: relative;
  transition: transform 0.1s;
  font-size: 10px;
}

.card-player-1 {
  background: #71baffbb;
}

.card-player-2 {
  background: blue;
}

.card-top-pick {
  background: #22ff55bb;
}

.card-just-took {
  background: #009423bb;
}

.card-op-took {
  background: #ff0000bb;
}

.streak-verti {
  position: absolute;
  width: 15%;
  height: 100%;
  background: purple;
}

.value {
  position: absolute;
}

.streak-hori {
  position: absolute;
  width: 100%;
  height: 15%;
  background: purple;
}

.card-clickable {
  transform: scale(1.1);
  transform-origin: center;
}

.button-take-pick {
  background: #22ff55bb;
}

.button-take-random {
  background: #dadadabb;
}

.op-discarded-flex-col {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.op-discarded-flex-row {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.op-discarded {
  width: 50%;
  height: 100%;
  background: #ffc8c8;
  border-radius: 5px;
}

.buttons {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  display: flex;
  width: 100vw;
  justify-content: center;
}

.card-revealed {
  background: green;
  outline: 3px solid red;
}

.button {
  width: 300px;
  height: 150px;
  line-height: 150px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

.bottom {
  height: 200px;
}

.knock {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgb(148, 255, 143);
  cursor: pointer;
  border-radius: 10px;
}

.ready {
  background: #dadada;
}

.score {
  width: var(--board-size);
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid black;
  background: rgb(255, 47, 47);
  /* color: white; */
  margin-top: 10px;
  font-weight: bold;
}

.score-item {
  width: 200px;
  transition: width 1s;
}

.infos {
  margin-top: 5px;
  outline: 1px solid black;
  text-align: center;
  font-size: 1.2rem;
  height: 30px;
  line-height: 30px;
}

.hero-cont {
  margin-top: 30px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(var(--size) * 0.22));
  justify-content: space-around;
}

.hero {
  text-align: center;
  outline: 1px solid black;
  width: var(--hero-width);
  margin-top: 10px;
  transform-origin: center;
  transition: transform 0.2s;
  cursor: pointer;
  background: white;
}

.hero:hover {
  transform: scale(1.07);
  z-index: 1;
}

.hero-header {
  border-bottom: 1px solid black;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}

.hero-image-grid {
  width: var(--hero-width);
  height: var(--hero-width);
  display: grid;
  align-content: center;
  justify-content: center;
}

.hero-image {
  width: calc(var(--hero-width) * 0.9);
  height: calc(var(--hero-width) * 0.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: 1px solid grey;
}

.hero-text {
  padding: 7%;
  padding-top: 0px;
}