:root {
  --width: 0px;
  --height: 0px;
  --fontSize: min(17px, calc(var(--width) * 0.035));
  font-size: var(--fontSize);
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.all {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.view {
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}